{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">How to Measure for the Correct Size Hurley and Helmet</h1>
    <p class="mt-4">
        Choosing the right size hurley and helmet is essential for safety and performance. Follow these steps to measure correctly:
    </p>
    <h2>How to Measure for a Hurley</h2>
    <ol>
        <li>Wear your shoes or boots<li>
        </li>Stand straight with your feet should width apart.</li>
        <li>Measure from the inside of your wrist to the ground</li>
    
    </ol>
    <h2>How to Measure for a Helemet</h2>
    <ol>
        <li>Use a measuring tape to measure the circumference of your head just above your eyebrows.</li>
    </ol>
    <p>
        If you have any questions, feel free to <a href="/contact-us/">contact us</a>.
    </p>
</div>
{% endblock %}