{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<meta name="description" content="Page not found - Explore our hurleys, helmets, and accessories at GAA Store.">
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4">404 - Page Not Found</h1>

    <img src="{% static 'images/500-server-error.png' %}" alt="Page Not Found" class="img-fluid hurleys-shop mb-4" style="max-width: 300px;">

    <p class="lead">Oops! You knocked that one out of the park!</p>
    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
</div>
{% endblock %}
