{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="description" content="{% block meta_description %}Welcome to GAA Store, your one-stop shop for all GAA and Camogie gear, including hurleys, how to measure for hurleys, accessories, and more!{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}GAA, Camogie, Hurleys, Accessories, Sports Gear, How to Measure{% endblock %}" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/products.css' %}" />
    <link
      rel="icon"
      href="{% static 'images/favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon/favicon-16x16.png' %}"
    />
    <title>GAA Store - {% block extra_title %}{% endblock %}</title>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% load static %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">


      {% include 'includes/mobile-top-header.html' %} 
      {% include 'includes/main-nav.html' %}

      <!-- Wrapper for main content -->
      <div class="wrapper flex-grow-1">
      <main>{% block content %}{% endblock %}</main>
      </div>

      <footer class="bg-dark text-white py-3">
        <div class="row align-items-center">
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="row no-gutters">
              <div class="col-12 col-md-8 mb-2 mb-md-0">
                  <form class="subscribe-form" action="https://mailchimp.com" method="POST">
                    <label for="email" class="sr-only">Sign up for updates:</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        required
                    />
                    <button type="submit">Subscribe</button>
                  </form>
              </div>
            </div>
          </div>    
            <!-- Links -->
            <div class="col-md-6 text-md-right">
              <div class="d-flex justify-content-center justify-content-md-end">
                  <a href="https://facebook.com" 
                    class="text-white mx-2" 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    aria-label="Visit our Facebook page">
                    Facebook
                  </a>
                  <a href="{% url 'privacy_policy' %}" class="text-white mx-2">
                    Privacy Policy
                  </a>
                  <a href="{% url 'contact_us' %}" 
                      class="text-white mx-2" 
                      aria-label="Contact us for enquiries">
                      Contact Us
                  </a>
              </div>
            </div>
          </div>
        </div>        <div id="mc_embed_signup">
  <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=9f358bb52fc3efa311e708802&amp;id=23b4851baa&amp;f_id=00a9b2e6f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank">
    <div id="mc_embed_signup_scroll">
      <h2>Subscribe</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required>
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input type="text" name="b_9f358bb52fc3efa311e708802_23b4851baa" tabindex="-1" value="">
      </div>
      <div class="optionalParent">
        <div class="clear foot">
          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
          <p style="margin: 0px auto;">
            <a href="http://eepurl.com/jgMX6-" title="Mailchimp - email marketing made easy and fun">
              <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function($) {
    window.fnames = new Array(); window.ftypes = new Array();
    fnames[0]='EMAIL';ftypes[0]='email';
    fnames[1]='FNAME';ftypes[1]='text';
    fnames[2]='LNAME';ftypes[2]='text';
    fnames[3]='ADDRESS';ftypes[3]='address';
    fnames[4]='PHONE';ftypes[4]='phone';
    fnames[5]='BIRTHDAY';ftypes[5]='birthday';
    fnames[6]='COMPANY';ftypes[6]='text';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>

      </footer>
    </div>

  <!-- Include Toast Templates -->
  <div id="toast-container">
    {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'success' %}
              {% include 'includes/toasts/toast_success.html' with message=message %}
          {% elif message.tags == 'error' %}
              {% include 'includes/toasts/toast_error.html' with message=message %}
          {% elif message.tags == 'info' %}
              {% include 'includes/toasts/toast_info.html' with message=message %}
          {% elif message.tags == 'warning' %}
              {% include 'includes/toasts/toast_warning.html' with message=message %}
          {% endif %}
      {% endfor %}
    {% endif %}
  </div>
    

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>


    <!-- Custom JavaScript for Toasts -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          const toastElements = document.querySelectorAll('.toast');
          toastElements.forEach(toastElement => {
              const toast = new bootstrap.Toast(toastElement);
              toast.show();
          });
      });
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
