#checkout-form input[type="text"],
#checkout-form input[type="email"],
#checkout-form input[type="password"],
#checkout-form input[type="number"],
#checkout-form input[type="tel"],
#checkout-form input[type="search"],
#checkout-form input[type="url"],
#checkout-form select,
#checkout-form textarea {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
    box-sizing: border-box !important;
    display: block !important;
}


#checkout-form {
    margin-bottom: 80px; 
    padding: 20px;
    border-radius: 5px;
}


.container {
    padding-bottom: 30px;
}

.row {
    margin-bottom: 20px;
}

/* Style the submit button */
#checkout-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

footer .form-control {
    width: auto; 
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}