#checkout-form input[type="text"],
#checkout-form input[type="email"],
#checkout-form input[type="password"],
#checkout-form input[type="number"],
#checkout-form input[type="tel"],
#checkout-form input[type="search"],
#checkout-form input[type="url"],
#checkout-form select,
#checkout-form textarea {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
    box-sizing: border-box !important;
    display: block !important;
}


#checkout-form {
    margin-bottom: 80px; 
    padding: 20px;
    border-radius: 5px;
}


.container {
    padding-bottom: 30px;
}

.row {
    margin-bottom: 20px;
}

/* Style the submit button */
#checkout-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

footer .form-control {
    width: auto; 
}

/* Stripe CSS */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}