{% extends 'base.html' %}
{% load static %}

{% block meta_keywords %}
sliotars, hurling helmets, camogie, grips, best hurley helmets, GAA, club gear
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Accessories</h1>
    <div class="row text-center mt-4">
        <!-- Sliotars -->
        {% for sliotar in sliotars %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'sliotar_detail' sliotar.product.id %}">
                <img src="{% static 'images/Sliotars.png' %}" alt="Sliotars" class="img-fluid rounded">
                <h3 class="mt-3">{{ sliotar.product.name }}</h3>
            </a>
        </div>
        {% endfor %}
        <!-- Helmets -->
        {% for helmet in helmets %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'helmet_detail' helmet.product.id %}">
                <img src="{% static 'images/helmets.png' %}" alt="Helmets" class="img-fluid rounded">
                <h3 class="mt-3">{{ helmet.product.name }}</h3>
            </a>
        </div>
        {% endfor %}
        <!-- Grips -->
        {% for grip in grips %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'grip_detail' grip.product.id %}">
                <img src="{% static 'images/grips.png' %}" alt="Grips" class="img-fluid rounded">
                <h3 class="mt-3">{{ grip.product.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}