{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Accessories</h1>
  <div class="row text-center mt-4">

    {# Sliotars #}
    {% static "products/12-sliotars.webp" as sliotar_img %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'sliotar_detail' sliotars.0.product.id %}">
        <img src="{{ sliotar_img }}" alt="Sliotar" class="img-fluid rounded">
        <h3 class="mt-3">{{ sliotars.0.product.name }}</h3>
      </a>
    </div>

    {# Helmets #}
    {% static "products/blue-cooper-helmet.webp" as helmet_img %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'helmet_detail' helmets.0.product.id %}">
        <img src="{{ helmet_img }}" alt="{{ helmets.0.product.name }}" class="img-fluid rounded">
        <h3 class="mt-3">{{ helmets.0.product.name }}</h3>
      </a>
    </div>

    {# Grips #}
    {% static "products/grips.webp" as grip_img %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'grip_detail' grips.0.product.id %}">
        <img src="{{ grip_img }}" alt="{{ grips.0.product.name }}" class="img-fluid rounded">
        <h3 class="mt-3">{{ grips.0.product.name }}</h3>
      </a>
    </div>

  </div>
</div>
{% endblock %}
