{% extends "base.html" %}
{% load static %}

{% block content %}
<p>👀 hurleys count = {{ hurleys|length }}</p>

<div class="container mt-5">
  <h1 class="text-center">Hurleys Shop</h1>
  <div class="row text-center mt-4">
    {% for hurley in hurleys %}
      {% if hurley.type == "ash" %}
        {% static "products/ash-hurley.webp" as image_url %}
      {% elif hurley.type == "bambu" %}
        {% static "products/bambu-hurley.webp" as image_url %}
      {% else %}
        {% static "products/goalie-hurley.webp" as image_url %}
      {% endif %}

      <div class="col-md-4 mb-4">
        <a href="{% url 'hurley_detail' hurley.product.id %}">
          <img src="{{ image_url }}"
               alt="{{ hurley.product.name }}"
               class="img-fluid rounded">
          <h3 class="mt-3">{{ hurley.product.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

